body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  width: 100vw;
}

#app {
  width: 100%;
}

.settings {
  display: grid;
  grid-template-columns: 150px auto;
  grid-row-gap: 10px;
  margin-top: 1rem;
}

label {
  margin-right: 0.25rem;
  text-align: right;
  padding-top: 0.25rem;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  grid-column: 2 / -1;

  > button:not(:first-child) {
    margin-left: 0.5rem;
  }
}
