body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  width: 100vw;
}

#app {
  width: 100%;
}

.settings {
  display: grid;
  grid-template-columns: 150px auto;
  grid-row-gap: 10px;
  margin-top: 1rem;
}

label {
  margin-right: 0.25rem;
  text-align: right;
  padding-top: 0.25rem;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  grid-column: 2 / -1;

  > button:not(:first-child) {
    margin-left: 0.5rem;
  }
}

.domainSettings {
  display: grid;
  flex: 1;
  width: 100%;
  grid-column: 2 / -1;
  grid-template-columns: auto 130px 100px;
}

.domainSettingsRow {
  display: contents;

  @border-color: #e7e7e7;

  &:not(:first-child) {
    > .domainSettingsItem {
      border-top: 1px solid @border-color;
    }
  }
}

@v-field: 0.5rem;
@h-field: 0.25rem;

.domainSettingsItem {
  display: flex;
  padding: @v-field @h-field;
}

.domainSettingsItemDomain {
  position: relative;

  > div {
    position: absolute;
    top: 50%;
    left: @h-field;
    width: ~"calc(100% - @{h-field} * 2)";
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transform: translateY(-50%);
  }
}
.domainSettingsItemDomainInput {
  flex: 1;
}

.domainSettingsItemUseProxy {
}

.domainSettingsItemDelete {
}

.domainSettingsItemUseProxySelect {
  width: 100%;
  margin: 0;
  flex: 1;
}

.domainSettingsItemDeleteButton {
  width: 100%;
  text-align: center;
  margin: 0;
  flex: 1;
}
