.root {
  background: #d70022;
  color: white;
  max-height: 100px;
  overflow-y: auto;
}

.item {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  font-family: monospace;
  user-select: text;
  cursor: text;
}

.time {
  opacity: 0.5;
}
